<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.glinde.blog.dao.BlogDao">
  <resultMap id="BaseResultMap" type="me.glinde.blog.entity.Blog">
    <constructor>
      <idArg column="bid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="title" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="description" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="content" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="date" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="author" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="state" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    bid, title, description, content, date, author, state
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from blog
    where bid = #{bid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from blog
    where bid = #{bid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="me.glinde.blog.entity.Blog">
    insert into blog (bid, title, description, 
      content, date, author, 
      state)
    values (#{bid,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{date,jdbcType=VARCHAR}, #{author,jdbcType=INTEGER}, 
      #{state,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="me.glinde.blog.entity.Blog">
    insert into blog
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bid != null">
        bid,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="author != null">
        author,
      </if>
      <if test="state != null">
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bid != null">
        #{bid,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        #{author,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="me.glinde.blog.entity.Blog">
    update blog
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        date = #{date,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        author = #{author,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where bid = #{bid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="me.glinde.blog.entity.Blog">
    update blog
    set title = #{title,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      date = #{date,jdbcType=VARCHAR},
      author = #{author,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER}
    where bid = #{bid,jdbcType=INTEGER}
  </update>

  <select id="getAllBlogs" resultType="me.glinde.blog.entity.Blog">
    select bid,title,description,date from blog
    <where>
      <if test="query != null">
        title like concat("%",#{query},"%")
      </if>
      and state = 1
    </where>
    order by bid desc limit #{pageStart},#{pageSize}
  </select>

  <select id="getBlogCounts" resultType="java.lang.Integer">
    select count(*) from blog
    <where>
      <if test="query != null">
        title like concat("%",#{query},"%")
      </if>
      and state = 1
    </where>
  </select>

  <select id="getAdminBlogs" resultType="me.glinde.blog.entity.Blog">
    select bid,title,description,date,state from blog
    <where>
      <if test="query != null">
        title like concat("%",#{query},"%")
      </if>
    </where>
    order by bid desc limit #{pageStart},#{pageSize}
  </select>

  <select id="getAdminBlogCounts" resultType="java.lang.Integer">
    select count(*) from blog
    <where>
      <if test="query != null">
        title like concat("%",#{query},"%")
      </if>
    </where>
  </select>
</mapper>